.profile-dropdown {
  position: absolute;
  right: 10px;
  background-color: grey;
  color: white;
}

/* #TODO change icon */
.profile{
  background-color: black;
  color: white;
  border-radius: 50px;
}

.profile:hover{
  color: white;
  box-shadow: 2px 2px white;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.outer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 30px; */
  background-color: rgb(56, 52, 52);
  color: white;
}

.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 100px;
  width: 700px;
}

/* #TODO hamburger menu slide out */
.home-logo { 
  height: 100px;
  width: 100px;
  margin-right: 50px;
  margin-top: 20px;
}

/* #TODO 700px resize */